html,body {
	background: #30201c url(../images/main_bg.png) 0px -50px scroll repeat-x;
	font-family: "Gerogia", Times, sans;
  color: #333;
  font-size: 14px;
  height: 100%;
}
body, div, h1, h2, h3, h4, h5, h6, p, ul, img {
	margin: 0px; 
	padding: 0px;
}
a {
	color: #fff;
	outline: none;
	text-decoration: none;
	display: block;
}
a:hover {
	color: #fff;
	outline: none;
	text-decoration: underline;
	list-style: none;
}
a:active {
	outline: none;
	text-decoration: none;
}
a:visited {
	outline: none;
	text-decoration: none;
}
.center {
  text-align: center;
}
.italic {
	font-style: italic;
}
#wrapper {
  background: url(../images/wrap_bg1.png) no-repeat scroll 0 0 #eee;
  margin:0 auto;
  width:1016px;
  border-left:4px solid #78593D;
  border-right:4px solid #78593D;
  border-bottom:4px solid #78593D;
  -moz-box-shadow: 0px 0px 38px #30201c;
	-webkit-box-shadow: 0px 0px 38px #30201c;
	box-shadow: 0px 0px 38px #30201c;
	text-align: left;
}
#hd {
  position: relative;
	width: 1016px;
  height: 180px;
  float:left;
}
#logo {
/*  background: url("../images/logo.png") 0px 0px no-repeat;*/
	float:left;
	height:130px;
	margin-left:70px;
	position:relative;
	width:400px;
}
#logo h1	{
	text-indent: -9999em;
}
#logo a {
	height:120px;
	position:relative;
	text-indent:-9999em;
	width:400px;
}
#main_nav {
  border-bottom:1px solid #CCCCCC;
  bottom:0;
  left: 0px;
  height:40px;
  position:absolute;
  width:100%;
}
#main_nav ul {
  border:1px solid #EFEFEF;
  float:left;
  height:40px;
	width: 1014px;
  position:relative;
}
#main_nav ul li {
	width: 124px;
	height: 40px;
	position: relative;
	float: left;
	text-align: center;
  border-right: 1px solid #ccc;
  border-left: 1px solid #efefef;
}
#main_nav ul li.no_border {
	border: none;
	border-left: 1px solid #efefef;
}
#main_nav ul li a {
	display: block;
	text-decoration: none;
	color: #777;
	text-shadow: 0px 1px 1px #fff;
  padding:13px 10px 7px;
  height: 20px;
}
#main_nav ul li a:hover {
	background: #886845;
	text-shadow: 0px 1px 1px #30201c;
	color: #fff;
	display: block;
	text-decoration: none;
	background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.36, rgb(97,74,49)),
      color-stop(0.84, rgb(136,104,69))
  );
  background: -moz-linear-gradient(
      center bottom,
      rgb(97,74,49) 36%,
      rgb(136,104,69) 84%
  );
  
}
#banner {
  border-top:1px solid #FFFFFF;
  float:left;
  height:360px;
  position:relative;
  width:1016px;
}
#banner img {
  position:relative;
  border-bottom: 1px solid #fff;
}
#banner ul.banner_list {
	font-size:17px;
	margin-left:50px;
	text-align:left;
	margin-bottom: 20px;
}
#banner .banner_content ul.banner_list {
	font-size:17px;
	margin-left:30px;
	margin-top: 5px;
	text-align:left;
	margin-bottom: 20px;
}
#banner .banner_content ul.banner_list li {
	list-style: circle;
	margin-bottom: 3px;
	color:#333333;
}
#banner ul li.contact {
	margin-bottom: 5px;
}
#banner ul li.contact_us_link a {
	color:#5a2a00;
	text-decoration: underline;
	width: 140px;
}
#banner ul li.contact_us_link a:hover {
	color:#666;
	text-decoration: none;
	width: 140px;
}
#banner ul li.our_store_link a {
	color:#5a2a00;
	text-decoration: underline;
	padding-top: 5px;
	display: block;
	width: 140px;
}
#banner ul li.our_store_link a {
	color:#5a2a00;
	text-decoration: underline;
	padding-top: 5px;
	display: block;
	width: 140px;
}
#banner ul li.our_store_link a:hover {
	color: #666;
	text-decoration: none;
}
#banner ul.banner_list li {
	list-style: circle;
	margin-bottom: 3px;
}
#banner ul h3.contact_info {
	font-size: 14px;
	font-weight: bold;
}
#content {
  border-bottom:1px solid #CCCCCC;
  float:left;
  height:100%;
  width: 956px;
  padding:0 30px;
  position:relative;
}
#content h2, #content h3 {
	float:left;
}
#content h3.content {
	font-size:16px;
	margin-right:5px;
	width: 920px;
	text-align: left;
}
#content h2#index_header {
  width: 440px;
  height: 65px;
  text-indent: -3000em;
  background: url(../images/headers/index_header.png) 0px 0px no-repeat;
}
#content h3 {
	font-size: 20px;
}
#content h4 {
	color:#CCCCCC;
	float:left;
	font-size:20px;
	width:940px;
}
#content p {
	color:#5A2A00;
	float:left;
	font-size:14px;
	margin-bottom:20px;
	text-align:justify;
	width:920px;
}
#content p.testimonial {
	-moz-box-shadow:0 1px 2px #000000;
	color:#CCCCCC;
	float:left;
	font-size:16px;
	margin-bottom:10px;
	margin-left:33px;
	padding:8px 8px 15px 8px;
	text-align:justify;
	width:580px;
	font-style: italic;
	border:1px solid #937D6A;
}
#content p a {
	display:block;
	font-size:15px;
	margin-top:8px;
	text-decoration:underline;
}
#content p a:hover {
	display:block;
	font-size:15px;
	text-decoration:underline;
	color: #ccc;
}
#content ul {
	position: relative;
	float: left;
	width: 650px;
	height: 240px;
	text-align: center;
	margin-top: 20px;
}
#content ul li {
	color:#CCCCCC;
	font-size:20px;
	height:30px;
	position:relative;
	width:650px;
	float: left;
}
#content #bottom_container {
  float:left;
  margin:40px auto 0px;
  padding-bottom: 30px;
  position:relative;
  text-align:center;
}
#content #bottom_container p {
  color: #FFFFFF;
  font-size: 14px;
  padding:20px 25px;
  text-align: left;
  width: 255px;
}
#content #bottom_container p a {
  display: inline;
}
#content #bottom_container p a:hover {
  display: inline;
  color: #bf9364;
}
#bottom_container .bottom_container {
  background: #78593D url(../images/oro_sub_box_bg.jpg) 0px 0px no-repeat;
  border: 1px solid #000;
  color: #FFFFFF;
  float: left;
  height: 200px;
  position: relative;
  width: 300px;
/*  -moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;*/
  -moz-box-shadow: 0px 1px 2px #000;
	-webkit-box-shadow: 0px 1px 2px #000;
	box-shadow: 0px 1px 2px #000;
}
#bottom_container .bottom_container.light {
  background: #fff;
  border: 1px solid #c4c5c4;
  color: #333;
  -moz-box-shadow: 0px 1px 2px #ccc;
	-webkit-box-shadow: 0px 1px 2px #ccc;
	box-shadow: 0px 1px 2px #ccc;
}
#bottom_container .bottom_container.bottom_center {
  margin: 0px 24px;
}
#bottom_container img.header_img {
  height: 85px;
  left: 0px;
  position: absolute;
  top: -37px;
  width: 309px;
}
.sb_lt_inner_img {
	position: relative;
	float: left;
	width: 292px;
	height: 154px;
	padding: 4px;
}
#bottom_container h2 {
  background: #3C2722;
  height: 40px;
  margin: 0;
  padding-top: 5px;
  width: 100%;
/*	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;*/
	-moz-box-shadow: 0px 1px 2px #000;
	-webkit-box-shadow: 0px 1px 2px #000;
	box-shadow: 0px 1px 2px #000;
	text-indent: -9999em;
}
#bottom_container .light h2 {
  background: #ddd;
	-moz-box-shadow: 0px 1px 2px #bbb;
	-webkit-box-shadow: 0px 1px 2px #bbb;
	box-shadow: 0px 1px 2px #bbb;
}

#content h3.store_content {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 75px;
  font-size: 18px;
  font-weight: bold;
}
#content p.store {
  margin-bottom: 50px;
  margin-left: 40px;
	text-align: center;
}
#store_wrapper {
  width: 960px;
  text-align: center;
}
#store_wrapper img {
  padding: 5px;
  /*border: 1px solid #000;*/
  border-top:4px solid #78593D;
  border-left:4px solid #78593D;
  border-right:4px solid #78593D;
  border-bottom:4px solid #78593D;
  -moz-box-shadow: 0px 0px 38px #30201c;
	-webkit-box-shadow: 0px 0px 38px #30201c;
	box-shadow: 0px 0px 38px #30201c;
  margin-bottom: 40px;
  background: #ccc;
}
/****************************************************************************************************************************/
/*********************************************************************************************************** FORMS **********/
#contact_form {
  position: relative;
  float: left;
  margin-left: 20px;
  width: 960px;
  background: transparent url(../images/oro_form_image.png) 535px top no-repeat;
}
#content form {
	position: relative;
	float: left;
	width: 550px;
	padding-bottom: 20px;
}
#contact_heading {
	width: 558px;
	height: 90px;
	position: relative;
	float: left;
}
#contact_heading h2 {
	width: 558px;
	height: 30px;
}
#content label {
	float:left;
	position:relative;
	text-align:left;
	color:#666666;
  text-shadow:0 1px 0 #FFFFFF;
  width: 250px;
}
#content input[type="text"] {
	border:1px solid #ccc;
	float:left;
	height:25px;
	position:relative;
	text-align:left;
	padding-left:3px;
	width: 247px;
}
#content textarea {
	border:1px solid #ccc;
}
#content div.form_field {
	width: 250px;
	text-align: left;
	position: relative;
	float: left;
	margin-bottom: 30px;
	margin-right: 10px;
}
#content div.form_field.form_field_text {
	width: 100%;
}
#content div.error {
	color:#FF0000;
	float:left;
	margin-left:28px;
	margin-top:32px;
	position:absolute;
	text-align:left;
	width:440px;
}
#content select {
  float:left;
  height:29px;
  position:relative;
  width:250px;
  padding-top: 2px;
}
#content textarea {
	position: relative;
	float: left;
}
#content .btn {
  background:none repeat scroll 0 0 #CCCCCC;
  border:1px solid #AAAAAA;
  color:#333333;
  display:block;
  float:left;
  height:30px;
  position:relative;
  text-align:center;
  width:70px;
}
#content .btn:hover {
  color: #fff;
  background:none repeat scroll 0 0 #777;
  border:1px solid #fff;
}
#left {
	position: relative;
	float: left;
	width: 50%;
	text-align: center;
}
#content #left img {
	margin-top: 20px;
	border:1px solid #937D6A;
	padding: 2px;
	background: #000;
}
#content #left h2 {
	margin:10px auto;
	position:relative;
	text-align:center;
	width:325px;
}
#right {
	position: relative;
	float: left;
	width: 50%;
	text-align: center;
}
#content #right img {
	margin-top: 20px;
	border:1px solid #937D6A;
	padding: 2px;
	background: #000;
}
	
#content #right h2 {
	margin:10px auto;
	position:relative;
	text-align:center;
	width:325px;
}
#ft {
	background:none repeat scroll 0 0 #CCCCCC;
  border-top:1px solid #FFFFFF;
}
#footer {
	height:75px;
	width:1016px;
}
.footer_nav {
	color:#333;
	float:left;
	margin-left:30px;
	margin-top:30px;
}
.footer_nav ul {
	position: relative;
	float: left;
	width: 740px;
	height: 20px;
}
.footer_nav ul li {
	position: relative;
	float: left;
	height: 15px;
	width: 105px;
	background: none;
	border-right: 1px solid #aaa;
	text-align: center;
}
.footer_nav ul li.small_footer_link {
	position: relative;
	float: left;
	height: 15px;
	width: 65px;
	background: none;
}
.footer_nav ul li.small_footer_link1 {
  position: relative;
	float: left;
	height: 15px;
	width: 65px;
	background: none;
	border: none;
}
#footer a {
  color:#666666;
  text-decoration:none;
  text-shadow:0 1px 0 #FFFFFF;
}
#footer a:hover {
	text-decoration: underline;
	color: #5a2a00;
}
.site_tag {
	float: right;
	color:#333;
	margin-right:30px;
	margin-top:30px;
}
.clear {
	clear: both;
}
/****************************************************************************************************************************/
/********************************************************************************************************* BANNERS **********/
/*--Main Container--*/
.main_view {
	float: left;
	position: relative;
}
/*--Window/Masking Styles--*/
.window {
  border-bottom:1px solid #CCCCCC;
  border-top:1px solid #DDDDDD;
  height:340px;
  overflow:hidden;
  position:relative;
  width:1016px;
}
.image_reel {
	position: absolute;
	top: 0; left: 0;
}
.image_reel img {float: left;}

.banner_wrap {
  position: relative;
  float: left;
  width: 1016px;
}
.banner_content {
  padding:30px;
  position:absolute;
  right:35px;
  top:20px;
  width:300px;
}
.banner_content h2 {
	position: relative;
	width: 350px;
	height: 65px;
	text-indent: -9999em;
}
.banner_content h2.watch_repair {
	background: url(../images/banners/watch_repair_banner_header.png) -34px 0px no-repeat;
}
.banner_content h2.jewelry_repair {
	background: url(../images/banners/jewelry_repair_banner_header.png) -13px 0px no-repeat;
}
.banner_content h2.jewelry_design {
	background: url(../images/banners/jewelry_design_banner_header.png) -13px 0px no-repeat;
}
.banner_content h2.our_jewelry {
	background: url(../images/banners/our_jewelry_banner_header.png) -57px 0px no-repeat;
}
.banner_content h2.gold_buying {
	background: url(../images/banners/gold_buying_banner_header.png) -35px 0px no-repeat;
}
.banner_content h2.contact_us {
	background: url(../images/banners/contact_banner_header.jpg) -48px 0px no-repeat;
}
.banner_content h2.about_us {
	background: url(../images/banners/about_banner_header.jpg) -51px 0px no-repeat;
}
.banner_content h2.thank_you {
	background: url(../images/banners/thank_you_banner_header.jpg) -7px 0px no-repeat;
}
.banner_content p {
	color:#333333;
	padding:10px 0 20px;
}
/****************************************************************************************************************************/
/****************************************************************************************************** PAGINATION **********/
#paging {
	position: relative;
	width: 100%;
	height: 12px;
	padding-top:2px;
	border-top:1px solid #fff;
	z-index: 100; /*--Assures the paging stays on the top layer--*/
	text-align: center;
	display: none; /*--Hidden by default, will be later shown with jQuery--*/
}
#paging_links {
  position: relative;
  margin: 0px auto;
  width: 76px;
}
#paging_links a {
  width: 12px;
  height: 12px;
  margin-right: 2px;
  text-indent: -9999em;
	float:left;
  background: url(../images/bullet_nav.png) 0px 0px no-repeat;
}
#paging_links a.active {
  background: url(../images/bullet_nav.png) -12px 0px no-repeat;
}
.paging a:hover {font-weight: bold;}
/****************************************************************************************************************************/
/********************************************************************************************************* BUTTONS **********/
.cta {
	background:none repeat scroll 0 0 #DDDDDD;
	border:1px solid #999999;
	color:#333333;
	height:45px;
	position:relative;
	text-align:center;
	text-shadow:0 1px 2px #FFFFFF;
	width:200px;
	-moz-box-shadow: 0px 1px 2px #bbb;
	-webkit-box-shadow: 0px 1px 2px #bbb;
	box-shadow: 0px 1px 2px #bbb;
}
.cta:hover {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	background:none repeat scroll 0 0 #dbdbdb;
	border:1px solid #777777;
}
.cta a {
	color:#333333;
	display:block;
	font-size:24px;
	padding:10px;
	position:relative;
}
.cta:hover a {
	color: #fff;
	text-decoration: none;
	text-shadow: 0px 1px 1px #333;
}